* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: black;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#solar-system {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 8%;
  top: 1%;
}

.celestial-body {
  background-size: cover;
  border-radius: 50%;
  position: absolute;
}

#sun {
  background-image: url("./assets/sun.svg");
  width: 6rem; 
  height: 6rem;
  transform: translate(-50%, -50%);
}

#mercury {
  background-image: url("./assets/mercury.svg");
  width: 1.4rem;
  height: 1.4rem;
}

#venus {
  background-image: url("./assets/venus.svg");
  width: 1.8rem;
  height: 1.8rem;
}

#earth {
  background-image: url("./assets/earth.svg");
  width: 2rem;
  height: 2rem;
}

#moon {
  background-image: url("./assets/moon.svg");
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#mars {
  background-image: url("./assets/mars.svg");
  width: 1.6rem;
  height: 1.6rem;
}

#jupiter {
  background-image: url("./assets/jupiter.svg");
  width: 2.6rem;
  height: 2.6rem;
}

#saturn {
  background-image: url("./assets/saturn.svg");
  width: 2.4rem;
  height: 2.4rem;
}

#uranus {
  background-image: url("./assets/uranus.svg");
  width: 2.2rem;
  height: 2.2rem;
}

#neptune {
  background-image: url("./assets/neptune.svg");
  width: 2.2rem;
  height: 2.2rem;
}

#phobos {
  background-image: url("./assets/phobos.svg");
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#deimos {
  background-image: url("./assets/deimos.svg");
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#io {
  background-image: url("./assets/io.svg");
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#pluto {
  background-image: url("./assets/pluto.svg");
  width: 1.2rem;
  height: 1.2rem;
}

.planet {
  transform: translate(-50%, -50%);
}

header {
  position: sticky;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  text-align: center;
  font-size: small;
}

#controls {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 1rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  border-radius: 4px; /* Add rounded corners */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif; /* Use a common font */
}

#controls label {
  font-weight: bold; /* Make labels bold */
}

#controls input {
  width: 100px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px; /* Add rounded corners to input fields */
  outline: none;
}

#controls button {
  background-color: #c5b29a;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px; /* Add rounded corners to the button */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

#controls button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}


